@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  font-family: Roboto;
}

:root {
  --sidebar-bg-color: #4E9ACD;
  --sidebar-text-color: #FFFFFF;
  --selected-border-color: #F1FAFF;
  --hover-color: #2F6F9E;
  --icon-color: #FFFFFF;
  --color-white: #FFFFFF;
}
